.head {
  display: flex;
  justify-content: space-between;
  .search {
    background-color: transparent;
    border: 2px solid grey;
    color: black;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    width: 25rem;
    margin: 1rem;

    .search:focus {
      outline: none;
    }
  }
}

.movieContainer {
  display: flex;

  //height: calc(100vh - 100px);
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
